<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lesson15</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.input}"></h2>
    <p th:text="#{content.p}"></p>
    <p th:if="${previous != null}" th:text="'前回入力された値は「'+(${previous})+'」でした。'"></p>
    <form action="/output" method="post">
        <input type="text" name="inputValue">
        <button type="submit" th:text="#{content.submit}"></button>
    </form>
</body>
</html>
